<!DOCTYPE html>
<head>
	<title>Danidanijr's Incremental</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css">

    <script src="src/utils/vue.js"></script>
	<script src="src/utils/break_eternity.js"></script>
    <script src="src/utils/calc.js"></script>
    <script src="src/utils/format.js"></script>

    <script src="src/achievements.js"></script>
    <script src="src/main.js"></script>
    <script src="src/scalingSoftcap.js"></script>
    <script src="src/kuaraniai.js"></script>
    <script src="src/starting.js"></script>
    <script src="src/utils/vueSetup.js"></script>
</head>
<body onload="loadGame()">
    <!-- I HATE HTML IT SUCKS -->
	<div id="app" class="fontVerdana">
        <div class="flex-container">
            <div style="flex-grow: 1; flex-basis: 0; text-align: left" class="bigText whiteText grayShadow">{{format(player.points, 3)}}</div>
            <div style="flex-grow: 1; flex-basis: 0; text-align: center" class="mediumBigText yellowText" style="text-shadow: 2px 2px #880;">FPS: {{otherGameStuffIg.FPS}}</div>
            <div style="flex-grow: 1; flex-basis: 0; text-align: right" class="bigText whiteText grayShadow">{{format(player.pps, 3)}}/s</div>
        </div>
        <div id="tabs">
            <div class="flex-container" style="justify-content: center; margin-bottom: 12px; margin-top: 12px;">
                <div v-for="(item, index) in TABS_LIST">
                    <button v-bind:style="{ 
                        color: item.textColor(), 
                        marginRight: `3px`, 
                        marginLeft: `3px`, 
                        backgroundColor: item.backgroundColor(), 
                        border: `3px solid ${tab[0] === item.staticName() ? item.highlightColor() : item.outlineColor()}` 
                    }"
                    v-if="item.if()" class="mediumText fontTrebuchetMS" v-on:click="switchTab(item.staticName(), 0)">{{item.name()}}</button>
                </div>
            </div>
        </div>
        <div id="generators" v-if="tab[0] === 'gen'">
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td>
                        <div class="flex-container" style="flex-direction: column;">
                            <button style="text-align: center" 
                            v-bind:class="{ nope: player.points.lt(player.generators.upg1.cost), ok: player.points.gte(player.generators.upg1.cost) }"
                            class="whiteText mediumButton fontVerdana generatorButton" id="genUP1" v-if="player.nerf.up1Active" v-on:click="buyGenUPG(1)">
                                <h3>Upgrade 1: {{format(player.generators.upg1.bought)}}{{player.generators.upg2.freeExtra.gt(0)?` (+${format(player.generators.upg2.freeExtra)})`:""}}</h3>
                                Increase point gain by {{format(player.generators.upg1.calculatedEB, 2)}}x
                                <br>Total: {{format(player.generators.upg1.effect, 2)}}x to point gain
                                <br><span v-bind:style="{ color: tmp.up1ScalingColor }">Cost: {{format(player.generators.upg1.cost)}} points</span>
                            </button>

                            <button style="text-align: center" 
                            v-bind:class="{ nopeFill: !player.auto.upg1, okFill: player.auto.upg1 }"
                            class="whiteText thinMediumButton fontVerdana genAutoButton" id="genUP1" v-if="player.nerf.up1Active && player.generators.pr2.best.gte(2)" v-on:click="player.auto.upg1 = !player.auto.upg1">
                                <b>Upgrade 1 Autobuyer: {{player.auto.upg1?"On":"Off"}}</b>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="flex-container" style="flex-direction: column;">
                            <button style="text-align: center" 
                            v-bind:class="{ nope: player.points.lt(player.generators.upg2.cost), ok: player.points.gte(player.generators.upg2.cost) }"
                            class="whiteText mediumButton fontVerdana generatorButton" id="genUP2" v-if="player.nerf.up2Active && player.generators.pr2.best.gte(1)" v-on:click="buyGenUPG(2)">
                                <h3>Upgrade 2: {{format(player.generators.upg2.bought)}}{{player.generators.upg2.freeExtra.gt(0)?` (+${format(player.generators.upg2.freeExtra)})`:""}}</h3>
                                Decreases Upgrade 1's cost by {{format(player.generators.upg2.calculatedEB, 2)}}x
                                <br>Total: /{{format(player.generators.upg2.effect, 2)}} to Upgrade 1's cost
                                <br><span v-bind:style="{ color: tmp.up2ScalingColor }">Cost: {{format(player.generators.upg2.cost)}} points</span>
                            </button>

                            <button style="text-align: center" 
                            v-bind:class="{ nopeFill: !player.auto.upg2, okFill: player.auto.upg2 }"
                            class="whiteText thinMediumButton fontVerdana genAutoButton" id="genUP1" v-if="player.nerf.up2Active && player.generators.pr2.best.gte(4)" v-on:click="player.auto.upg2 = !player.auto.upg2">
                                <b>Upgrade 2 Autobuyer: {{player.auto.upg2?"On":"Off"}}</b>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="flex-container" style="flex-direction: column;">
                            <button style="text-align: center" 
                            v-bind:class="{ nope: player.points.lt(player.generators.upg3.cost), ok: player.points.gte(player.generators.upg3.cost) }"
                            class="whiteText mediumButton fontVerdana generatorButton" id="genUP3" v-if="player.nerf.up3Active && player.generators.pr2.best.gte(5)" v-on:click="buyGenUPG(3)">
                                <h3>Upgrade 3: {{format(player.generators.upg3.bought)}}{{player.generators.upg3.freeExtra.gt(0)?` (+${format(player.generators.upg3.freeExtra)})`:""}}</h3>
                                Increases Upgrade 1's base by +{{format(player.generators.upg3.calculatedEB, 2)}}
                                <br>Total: +{{format(player.generators.upg3.effect, 2)}} to Upgrade 1's base
                                <br><span v-bind:style="{ color: tmp.up3ScalingColor }">Cost: {{format(player.generators.upg3.cost)}} points</span>
                            </button>

                            <button style="text-align: center" 
                            v-bind:class="{ nopeFill: !player.auto.upg3, okFill: player.auto.upg3 }"
                            class="whiteText thinMediumButton fontVerdana genAutoButton" id="genUP1" v-if="player.nerf.up3Active && false" v-on:click="player.auto.upg3 = !player.auto.upg3">
                                <b>Upgrade 3 Autobuyer: {{player.auto.upg3?"On":"Off"}}</b>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <button class="mediumButton" id="genUP4">
                        </button> -->
                    </td>
                    <td>
                        <!-- <button class="mediumButton" id="genUP5">
                        </button> -->
                    </td>
                    <td>
                        <!-- <button class="mediumButton" id="genUP6">
                        </button> -->
                    </td>
                </tr>
            </table>
            <table style="margin-top: 12px; margin-left: auto; margin-right: auto;">
                <tr>
                    <td>
                        <button style="text-align: center" 
                        v-bind:class="{ nope: !tmp.praiCanDo, ok: tmp.praiCanDo }"
                        class="whiteText largeButton fontVerdana generatorButton" id="prai" v-if="player.nerf.praiActive" v-on:click="reset('prai')">
                        <h3>PRai: {{format(player.generators.prai.amount)}}</h3>
                            {{`Reset your progress to gain ${player.generators.pr2.best.gte(1) ? format(tmp.praiPending) + " " : ""}PRai.`}}
                            <br>{{
                                tmp.praiCanDo
                                    ? tmp.praiPending.lt(1e6) && player.generators.pr2.best.gte(1)
                                        ? `Next in ${format(tmp.praiNext)} points.`
                                        : ""
                                    : `You can PRai reset in ${formatTime(tmp.praiNext)}`
                            }}
                            <br>You have {{format(player.generators.prai.amount)}} PRai, which boosts your points by {{format(player.generators.prai.effect, 2)}}x.
                            <br>{{tmp.praiCanDo ? `Resetting now, PRai will boost your points by ${format(tmp.praiNextEffect, 2)}x` : ""}}
                        </button>
                    </td>
                    <td>
                        <button style="text-align: center" 
                        v-bind:class="{ nope: !tmp.pr2CanDo, ok: tmp.pr2CanDo }"
                        class="whiteText largeButton fontVerdana generatorButton" id="pr2" v-if="player.nerf.pr2Active && player.generators.prai.best.gte(3)" v-on:click="reset('pr2')">
                            <h3>PR2: {{format(player.generators.pr2.amount)}}</h3>
                            Reset all of your previous progress to for a PR2 reset.
                            <br><span v-bind:style="{ color: tmp.pr2ScalingColor }">{{
                                tmp.pr2CanDo
                                    ? false
                                        ? `You can PR2 reset ${format(player.generators.pr2.target.sub(player.generators.pr2.amount).floor())} times!`
                                        : `You can PR2 reset! (${format(player.generators.prai.amount)} / ${format(player.generators.pr2.cost)} PRai)`
                                    : `You need ${format(player.generators.prai.amount)} / ${format(player.generators.pr2.cost)} PRai to PR2 reset.`
                            }}</span>
                            <br>You have {{format(player.generators.pr2.amount)}} PR2, which boosts your PRai and points by {{format(player.generators.pr2.effect, 2)}}x.
                            <br>{{tmp.pr2Text===""?"":`At ${format(tmp.pr2Text.info)} PR2 reset${tmp.pr2Text.info.eq(1)?"":"s"}, ${tmp.pr2Text.txt}`}}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="kuaraniai" v-if="tab[0] === 'kua'">
            <div class="flex-container" style="justify-content: center; margin-left: auto; margin-right: auto; width: 750px; height: 120px;">
                <button style="text-align: center; margin-top: 12px; width: 750px; height: 120px;" 
                v-bind:class="{ nope: !tmp.kuaCanDo, ok: tmp.kuaCanDo }"
                class="whiteText fontVerdana kuaButton" id="kuaGain" v-on:click="reset('kua')">
                    <h3>Kuaraniai: {{format(player.kua.amount, 3)}}</h3>
                    Convert your {{format(tmp.effectivePrai)}} PRai into {{format(tmp.kuaPending, 4)}} Kuaraniai
                    <br>{{
                        tmp.kuaCanDo
                            ? `You can convert PRai to Kuaraniai! (${format(tmp.effectivePrai)} / ${format(tmp.kuaReq)} PRai)`
                            : `You need ${format(tmp.effectivePrai)} / ${format(tmp.kuaReq)} PRai to convert into Kuaraniai.`
                    }}
                    <br>You have {{format(player.kua.amount)}} Kuaraniai, which generates {{format(tmp.kuaShardGeneration, 2)}} Kuaraniai Shards (KShards) per second.
                </button>
                <div style="" v-bind:style="{ backgroundColor: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 0.5) / 8, 0.2, 1.0), border: `3px solid ${gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI / 2) / 8, 0.5, 1.0)}` }">                        
                    <div class="flex-container" style="justify-content: center;" v-bind:style="{ backgroundColor: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 0.5) / 8, 0.2, 1.0), border: `3px solid ${gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 0.5) / 8, 0.5, 1.0)}` }">
                        <span style="text-align: center; font-size: 16px; margin-left: 8px; margin-right: 8px;" v-bind:style="{ color: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime) / 4, 1.0, 1.0) }">You have {{format(player.kua.kshards.amount, 3)}} Kuaraniai shards.</span>
                    </div>
                    <div class="flex-container" style="justify-content: center;" v-bind:style="{ backgroundColor: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 1.5) / 8, 0.2, 1.0), border: `3px solid ${gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 1.5) / 8, 0.5, 1.0)}` }">
                        <span style="text-align: center; font-size: 16px; margin-left: 8px; margin-right: 8px;" v-bind:style="{ color: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI) / 4, 1.0, 1.0) }">You have {{format(player.kua.kpower.amount, 3)}} Kuaraniai power.</span>
                    </div>
                </div>
            </div>
            <!-- <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td style="" v-bind:style="{ backgroundColor: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 0.5) / 8, 0.2, 1.0), border: `3px solid ${gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI / 2) / 8, 0.5, 1.0)}` }">                        
                        <div class="flex-container" style="justify-content: center;" v-bind:style="{ backgroundColor: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 0.5) / 8, 0.2, 1.0), border: `3px solid ${gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 0.5) / 8, 0.5, 1.0)}` }">
                            <span style="text-align: center; font-size: 16px;" v-bind:style="{ color: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime) / 4, 1.0, 1.0) }">You have {{format(player.kua.kshards.amount, 3)}} Kuaraniai shards.</span>
                        </div>
                        <div class="flex-container" style="justify-content: center;" v-bind:style="{ backgroundColor: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 1.5) / 8, 0.2, 1.0), border: `3px solid ${gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI * 1.5) / 8, 0.5, 1.0)}` }">
                            <span style="text-align: center; font-size: 16px;" v-bind:style="{ color: gRC(4.5 + Math.sin(otherGameStuffIg.sessionTime + Math.PI) / 4, 1.0, 1.0) }">You have {{format(player.kua.kpower.amount, 3)}} Kuaraniai power.</span>
                        </div>
                    </td>
                </tr>
            </table> -->

        </div>
        <div id="options" v-if="tab[0] === 'opt'">

        </div>
        <div id="stats" v-if="tab[0] === 'stat'">
            <div class="flex-container" style="justify-content: space-between;">
                
            </div>
        </div>

        <div id="achievement" v-if="tab[0] === 'ach'">
            <table style="margin-left: auto; margin-right: auto;">
                <tr v-for="n in ACHIEVEMENT_DATA.rows">
                    <td v-for="m in ACHIEVEMENT_DATA.cols" style="color: #fff">
                        <div v-if="ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].show()" v-bind:style="{ 
                            backgroundColor: 
                                ACH_DEF_COLORS
                                [ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].type()]
                                [player.achievements.includes(((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1) 
                                    ? 'complete'
                                    : (ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].status() === true 
                                        ? 'canComplete'
                                        : 'unable')](),
                            border: `3px solid ${
                                colorChange(ACH_DEF_COLORS
                                [ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].type()]
                                [player.achievements.includes(((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1) 
                                    ? 'complete'
                                    : (ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].status() === true 
                                        ? 'canComplete'
                                        : 'unable')](), 0.5, 1)}`,
                            marginRight: `3px`, 
                            marginLeft: `3px`, 
                            width: `50px`,
                            height: `50px`,
                        }" class="tooltip">
                        <span class="tooltiptext">
                            {{ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].name()}}
                            <br>{{ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].desc()}}
                            <br>{{ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].reward()===''?'':`Reward: ${ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].reward()}`}}
                            <br>{{ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].status() === true
                                    ? ''
                                    : ACHIEVEMENT_DATA[((n - 1) * ACHIEVEMENT_DATA.cols) + m - 1].status()}}
                        </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
	</div>
</body>

