body {
  background-color: #000;
}

.flex-container {
  display: flex;
}

.flexJustifyCenter {
  justify-content: center;
}

.flexJCSB {
  justify-content: space-between;
}

.whiteText {
  color: #fff;
}

.blackText {
  color: #000;
}

.yellowText {
  color: #ff0;
}

.grayShadow {
  text-shadow: 0.16vw 0.16vw grey;
}

.fontVerdana {
  font-family: "Verdana";
}

.fontTrebuchetMS {
  font-family: "Helvetica, sans-serif";
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.mediumText {
  font-size: 1.92vw;
}

.mediumBigText {
  font-size: 1.92vw;
}

.bigText {
  font-size: 3.2vw;
}

.text {
  display: inline;
}

.mediumButton {
  width: 16vw;
  height: 12vw;
}

.thinMediumButton {
  width: 16vw;
  height: 4vw;
}

.largeButton {
  width: 24vw;
  height: 16vw;
}

.thinLargeButton {
  width: 24vw;
  height: 6vw;
}

.autoButton {
  transition-duration: 0.2s;
  background-color: #1c2024;
}

.generatorButton {
  transition-duration: 0.2s;
  background-color: #1c2024;
}

.generatorButton:hover {
  background-color: #384048;
}

.kuaButton {
  transition-duration: 0.2s;
  background-color: #411853;
}

.colButton {
  transition-duration: 0.2s;
  border: 0.48vw solid #ff4000;
  background-color: #631900;
  box-shadow: 0 0 0.8vw 0.24vw rgb(66, 17, 0);
}

.colButtonHeader {
  transition-duration: 0.2s;
  background-color: #521400;
}

.colButtonDesc {
  transition-duration: 0.2s;
  background-color: #631900;
}

.colButtonRew {
  transition-duration: 0.2s;
  background-color: #8d2300;
}

.colButtonProg {
  transition-duration: 0.2s;
  border: 0.48vw solid #fffb00;
  background-color: #616300;
  box-shadow: 0 0 0.8vw 0.24vw rgb(66, 54, 0);
}

.colButtonHeaderProg {
  transition-duration: 0.2s;
  background-color: #524300;
}

.colButtonDescProg {
  transition-duration: 0.2s;
  background-color: #634900;
}

.colButtonRewProg {
  transition-duration: 0.2s;
  background-color: #8d7800;
}

.colButtonComp {
  transition-duration: 0.2s;
  border: 0.48vw solid #00ff0d;
  background-color: #006319;
  box-shadow: 0 0 0.8vw 0.24vw rgb(0, 66, 6);
}

.colButtonHeaderComp {
  transition-duration: 0.2s;
  background-color: #005204;
}

.colButtonDescComp {
  transition-duration: 0.2s;
  background-color: #006300;
}

.colButtonRewComp {
  transition-duration: 0.2s;
  background-color: #108d00;
}

.main-container {
  width: 19.2vw; 
  height: 28.8vw; 
}

.first-cont, .second-cont, .third-cont {
  position: relative;
  width: 100%;
  color: white
}

.generic-text {
  position: absolute; 
}

.centered-text {
  position: absolute; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

.colButton:hover {
  background-color: #7a1f00;
  border: 0.48vw solid #ff9775;
  box-shadow: 0 0 1.2vw 0.4vw #8f2400;
}

.colButtonProg:hover {
  background-color: #7a6e00;
  border: 0.48vw solid #fffd75;
  box-shadow: 0 0 1.2vw 0.4vw #8f6e00;
}

.colButtonComp:hover {
  background-color: #187a00;
  border: 0.48vw solid #8cff75;
  box-shadow: 0 0 1.2vw 0.4vw #188f00;
}

.kuaButton:hover {
  background-color: #610986;
}

.genAutoButton {
  transition-duration: 0.2s;
  border: 0.4vw solid #384048;
}

.genAutoButton:hover {
  border: 0.4vw solid #515c68;
}

.nope {
  border: 0.4vw solid #400;
}

.nope:hover {
  border: 0.4vw solid #600;
  box-shadow: 0 0 1.2vw 0.4vw #300000;
}

.ok {
  border: 0.4vw solid #040;
  box-shadow: 0 0 1.2vw 0.4vw #002000;
}

.ok:hover {
  border: 0.4vw solid #0f0;
  box-shadow: 0 0 2vw 0.8vw #008000;
}

.nopeFill {
  background-color: #400;
}

.nopeFill:hover {
  background-color: #800;
}

.okFill {
  background-color: #040;
}

.okFill:hover {
  background-color: #080;
}

.kuaButton2 {
  transition-duration: 0.2s; 
  border: 0.32vw solid #b900ff; 
  background-color: #4d008b;
}

.kuaButton2:hover {
  border: 0.32vw solid #ca37ff; 
  background-color: #5f00ad;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0.08vw dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 40vw;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 0.4vw 0;
  border: 0.16vw solid #fff;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -20vw;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.4vw;
  border-width: 0.4vw;
  border-style: solid;
  border-color: #222 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
